@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
	background:#e9e9e9;
	font-family: 'Raleway', sans-serif;
}

#logged-in-pond {
	text-align: left;
	position: relative;
}

#container {
	float: left;
	width: 70%;
}

/* 
	Navigation menu inspired by: https://codepen.io/Frecosse/pen/Akwdo?editors=1100
*/
#menu {
	float:left;
	z-index: 1;
}

#menu ul {
	list-style:none;
	margin:0; 
	padding:0;
	width:235px;
}

#menu ul li a {
	text-decoration: none;
}

#menu ul li label {
	background: #88BBD6;
	color: #FFFFFF;
}

#menu ul li input[type='checkbox'] {
	display: none;
}

#menu ul li label {
	display:block;
	padding:12px 5px;
	width:235px;
}

#menu ul li label:hover {
	background: #CDCDCD;
}

#menu ul li input[type='checkbox']:checked ~ label {
	background: #347598;
}

#menu ul li input[type='checkbox']:checked ~ .sub-menu {
	height: auto;
	display:block;
}

#menu ul ul {
	background:#FFFFFF;
	margin:0;
	padding:0;
}

#menu ul ul li a {
	display:block;
	padding:12px 5px;
	color:#666666;
	text-decoration:none;
}

#menu ul ul li a:hover {
	background-color:#CDCDCD;
	color:#88BBD6;
}

#menu .sub-menu {
	height: 0;
	display: block;
	overflow: hidden;
}