.wcGenerate {
	position: relative;
	z-index: 2;
}

.wcGenerate-go {
	display: flex;
	justify-content: center;
}

.wcGenerate-user, .wcGenerate-scope {
	display: flex;
	min-width: 275px;
}

.wcGenerate-user p, .wcGenerate-scope p {
	padding: 0 5px;
}